@import "main.scss";
@import "header.scss";
@import "footer.scss";

p {
  line-height: 2em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.dino-img-context {
  min-height: 240px;
}

.dino-img-container {
  text-align: center;
}

.dino-img-container img {
  max-width: 300px;
}

.main-content {
  ul {
    list-style-image: url("../images/list_arr.png");
    padding-left: 7px;
  }

  li {
    margin: 0.5em 0;
    padding: 0;
  }
}

.scene-card {
  min-height: 550px;
  margin-top: 1em;

  .scene-card-image {
    width: 100%;
    height: 20%;
    min-height: 200px;
  }

  .scene-card-content {
    margin-top: 2em;
  }
}
